n8n/andrea-group-reply-workflow.json
{
    "name": "Andrea Group Reply to WebChat",
    "nodes": [
        {
            "id": "telegram-trigger",
            "name": "Listen for Group Messages",
            "type": "n8n-nodes-base.telegramTrigger",
            "typeVersion": 1.1,
            "position": [
                250,
                300
            ],
            "parameters": {
                "updates": [
                    "message"
                ]
            },
            "credentials": {
                "telegramApi": {
                    "id": "telegram-umio-credential",
                    "name": "Telegram Umio Bot"
                }
            }
        },
        {
            "id": "filter-andrea",
            "name": "Filter Andrea in Group",
            "type": "n8n-nodes-base.filter",
            "typeVersion": 2,
            "position": [
                450,
                300
            ],
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": false
                    },
                    "conditions": [
                        {
                            "id": "from-andrea",
                            "leftValue": "={{ $json.message.from.username }}",
                            "rightValue": "neovegaandrea_bot",
                            "operator": {
                                "type": "string",
                                "operation": "equals"
                            }
                        },
                        {
                            "id": "in-group",
                            "leftValue": "={{ $json.message.chat.id }}",
                            "rightValue": "-1003806455231",
                            "operator": {
                                "type": "number",
                                "operation": "equals"
                            }
                        },
                        {
                            "id": "is-reply",
                            "leftValue": "={{ $json.message.reply_to_message }}",
                            "rightValue": "",
                            "operator": {
                                "type": "object",
                                "operation": "notEmpty"
                            }
                        }
                    ],
                    "combinator": "and"
                }
            }
        },
        {
            "id": "extract-session",
            "name": "Extract Session from Reply",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                650,
                300
            ],
            "parameters": {
                "language": "javaScript",
                "jsCode": "const replyText = $input.item.json.message.reply_to_message.text || '';\nconst sessionMatch = replyText.match(/WebChat\\[([\\w-]+)\\]/);\nconst sessionId = sessionMatch ? sessionMatch[1] : null;\n\nif (!sessionId) {\n  return null;\n}\n\nconst responseText = $input.item.json.message.text;\n\nreturn {\n  sessionId,\n  message: responseText,\n  timestamp: new Date().toISOString()\n};"
            }
        },
        {
            "id": "http-request",
            "name": "Send to WebChat API",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                850,
                300
            ],
            "parameters": {
                "url": "https://www.neovega.cc/api/chat/reply",
                "method": "POST",
                "sendBody": true,
                "bodyParameters": {
                    "parameters": [
                        {
                            "name": "sessionId",
                            "value": "={{ $json.sessionId }}"
                        },
                        {
                            "name": "message",
                            "value": "={{ $json.message }}"
                        },
                        {
                            "name": "source",
                            "value": "andrea"
                        }
                    ]
                }
            }
        }
    ],
    "connections": {
        "Listen for Group Messages": {
            "main": [
                [
                    {
                        "node": "Filter Andrea in Group",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Filter Andrea in Group": {
            "main": [
                [
                    {
                        "node": "Extract Session from Reply",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Extract Session from Reply": {
            "main": [
                [
                    {
                        "node": "Send to WebChat API",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "settings": {
        "executionOrder": "v1"
    }
}