n8n/message-router-workflow-simple.json
{
    "name": "Message Router",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "message-router",
                "responseMode": "responseNode",
                "options": {}
            },
            "id": "webhook",
            "name": "Webhook",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 2,
            "position": [
                250,
                300
            ],
            "webhookId": "message-router"
        },
        {
            "parameters": {
                "mode": "manual",
                "duplicateItem": false,
                "assignments": {
                    "assignments": [
                        {
                            "id": "agents-field",
                            "name": "agents",
                            "value": "=[\"main\"]",
                            "type": "array"
                        },
                        {
                            "id": "workflow-type-field",
                            "name": "workflowType",
                            "value": "single",
                            "type": "string"
                        },
                        {
                            "id": "conversation-id-field",
                            "name": "conversation_id",
                            "value": "={{ $json.body.conversation_id }}",
                            "type": "string"
                        }
                    ]
                },
                "options": {}
            },
            "id": "set-default-routing",
            "name": "Set Default Routing",
            "type": "n8n-nodes-base.set",
            "typeVersion": 3.4,
            "position": [
                450,
                300
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://pocketbase.neovega.cc/api/collections/agent_workflows/records",
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={{ { \"conversation_id\": $json.conversation_id, \"workflow_type\": $json.workflowType, \"agents\": $json.agents, \"status\": \"pending\" } }}",
                "options": {}
            },
            "id": "create-workflow-record",
            "name": "Create Workflow Record",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                650,
                300
            ]
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={{ { \"success\": true, \"workflow_id\": $json.id, \"agents\": $json.agents, \"workflow_type\": $json.workflow_type } }}"
            },
            "id": "respond-to-webhook",
            "name": "Respond to Webhook",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1,
            "position": [
                850,
                300
            ]
        }
    ],
    "connections": {
        "Webhook": {
            "main": [
                [
                    {
                        "node": "Set Default Routing",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Set Default Routing": {
            "main": [
                [
                    {
                        "node": "Create Workflow Record",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Create Workflow Record": {
            "main": [
                [
                    {
                        "node": "Respond to Webhook",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "pinData": {}
}