n8n/webchat-umio-integration-workflow.json
{
    "name": "WebChat Umio Integration",
    "nodes": [
        {
            "id": "webhook-node",
            "name": "WebChat Webhook",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1,
            "position": [
                250,
                300
            ],
            "parameters": {
                "httpMethod": "POST",
                "responseMode": "responseNode",
                "path": "umio-chat",
                "options": {}
            },
            "webhookId": "umio-chat"
        },
        {
            "id": "store-user-msg",
            "name": "Store User Message",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                450,
                100
            ],
            "parameters": {
                "method": "POST",
                "url": "http://pocketbase-convo.zeabur.internal:8090/api/collections/messages/records",
                "sendBody": true,
                "bodyParameters": {
                    "parameters": [
                        {
                            "name": "session_id",
                            "value": "={{ $json.body.sessionId }}"
                        },
                        {
                            "name": "content",
                            "value": "={{ $json.body.message }}"
                        },
                        {
                            "name": "role",
                            "value": "user"
                        },
                        {
                            "name": "agent",
                            "value": "umio"
                        },
                        {
                            "name": "platform",
                            "value": "webchat"
                        }
                    ]
                }
            }
        },
        {
            "id": "telegram-send",
            "name": "Send to Telegram Group",
            "type": "n8n-nodes-base.telegram",
            "typeVersion": 1.2,
            "position": [
                450,
                300
            ],
            "parameters": {
                "chatId": "-1003806455231",
                "text": "={{ '🌐 <b>WebChat → Umio</b> @neovegaandrea&#95;bot\n\n📝 內容: ' + $json.body.message + '\n\n📋 詳細資訊:\n• Session ID: ' + $json.body.sessionId + '\n• 平台: ' + ($json.body.platform || 'webchat') + '\n• 時間: ' + new Date().toISOString() + '\n\n💬 回覆此訊息以回覆客戶' }}",
                "additionalFields": {
                    "parse_mode": "HTML"
                }
            },
            "credentials": {
                "telegramApi": {
                    "name": "telegram-bot-credential",
                    "id": ""
                }
            }
        },
        {
            "id": "respond",
            "name": "Respond to Webhook",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1.1,
            "position": [
                650,
                300
            ],
            "parameters": {
                "respondWith": "json",
                "responseBody": "={{ { success: true, message: 'Message forwarded to Umio via Telegram' } }}"
            }
        }
    ],
    "connections": {
        "WebChat Webhook": {
            "main": [
                [
                    {
                        "node": "Store User Message",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "Send to Telegram Group",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Store User Message": {
            "main": [
                [
                    {
                        "node": "Respond to Webhook",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Send to Telegram Group": {
            "main": [
                [
                    {
                        "node": "Respond to Webhook",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "settings": {
        "executionOrder": "v1"
    },
    "staticData": null,
    "tags": []
}