n8n/webchat-umio-simple-v7.json
{
    "name": "WebChat Umio Simple V7",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "responseMode": "responseNode",
                "path": "umio-chat-v7",
                "options": {}
            },
            "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
            "name": "Webhook",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1,
            "position": [
                250,
                300
            ],
            "webhookId": "umio-chat-v7"
        },
        {
            "parameters": {
                "jsCode": "// 使用 items[0].json 而非 $input.first() - 更穩定\nconst input = items[0].json;\n\n// 處理 body 包裝的情況\nconst data = input.body || input;\n\n// 提取訊息\nconst message = data.message || '';\nconst sessionId = data.sessionId || 'unknown-' + Date.now();\nconst context = data.context || {};\n\nreturn [\n  {\n    json: {\n      message,\n      sessionId,\n      context,\n      hasMessage: message && message.length > 0\n    }\n  }\n];"
            },
            "id": "b2c3d4e5-f6a7-8901-bcde-f12345678901",
            "name": "Extract",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                450,
                300
            ]
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": true,
                        "leftValue": "",
                        "typeValidation": "strict"
                    },
                    "conditions": [
                        {
                            "id": "condition-1",
                            "leftValue": "={{ $json.hasMessage }}",
                            "rightValue": "true",
                            "operator": {
                                "type": "boolean",
                                "operation": "equals",
                                "rightValue": true
                            }
                        }
                    ],
                    "combinator": "and"
                }
            },
            "id": "c3d4e5f6-a7b8-9012-cdef-123456789012",
            "name": "Check",
            "type": "n8n-nodes-base.if",
            "typeVersion": 2,
            "position": [
                650,
                300
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "=https://api.telegram.org/bot8751641141:AAGeQKXV4WvOguP4H5UpUWegVcq2obdzIVw/sendMessage",
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={\n  \"chat_id\": \"-1003806455231\",\n  \"text\": \"👤 WebChat → Umio\\n\\n💬 訊息: \" + $json.message + \"\\n\\n📋 詳細資訊:\\n• Session ID: \" + $json.sessionId + \"\\n• 平台: \" + ($json.context?.platform || 'webchat') + \"\\n• 時間: \" + new Date().toISOString(),\n  \"parse_mode\": \"HTML\"\n}",
                "options": {}
            },
            "id": "d4e5f6a7-b8c9-0123-defa-234567890123",
            "name": "Telegram",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                850,
                200
            ]
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={{ { success: true, message: 'Forwarded to Umio', received: $json.message, sessionId: $json.sessionId } }}"
            },
            "id": "e5f6a7b8-c9d0-1234-efab-345678901234",
            "name": "Success",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1.1,
            "position": [
                1050,
                200
            ]
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={{ { success: false, error: 'No message provided', received: $json } }}"
            },
            "id": "f6a7b8c9-d0e1-2345-fabc-456789012345",
            "name": "Error",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1.1,
            "position": [
                850,
                400
            ]
        }
    ],
    "connections": {
        "Webhook": {
            "main": [
                [
                    {
                        "node": "Extract",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Extract": {
            "main": [
                [
                    {
                        "node": "Check",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Check": {
            "main": [
                [
                    {
                        "node": "Telegram",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Error",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Telegram": {
            "main": [
                [
                    {
                        "node": "Success",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "settings": {
        "executionOrder": "v1"
    },
    "staticData": null,
    "tags": []
}