n8n/webchat-umio-simple-v8.json
{
    "name": "WebChat Umio Simple V8 - Fire and Forget",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "responseMode": "responseNode",
                "path": "umio-chat-v8",
                "options": {}
            },
            "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
            "name": "Webhook",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1,
            "position": [
                250,
                300
            ],
            "webhookId": "umio-chat-v8"
        },
        {
            "parameters": {
                "jsCode": "// Fire-and-forget: 立即返回成功\nconst input = items[0].json;\nconst data = input.body || input;\n\nreturn [{\n  json: {\n    message: data.message || '',\n    sessionId: data.sessionId || 'unknown-' + Date.now(),\n    context: data.context || {},\n    received: true\n  }\n}];"
            },
            "id": "b2c3d4e5-f6a7-8901-bcde-f12345678901",
            "name": "Extract",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                450,
                300
            ]
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={{ { success: true, message: 'Message received and queued', sessionId: $json.sessionId } }}"
            },
            "id": "c3d4e5f6-a7b8-9012-cdef-123456789012",
            "name": "ImmediateResponse",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1.1,
            "position": [
                650,
                200
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "=https://api.telegram.org/bot8751641141:AAGeQKXV4WvOguP4H5UpUWegVcq2obdzIVw/sendMessage",
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={\n  \"chat_id\": \"-1003806455231\",\n  \"text\": \"👤 WebChat → Umio\\n\\n💬 訊息: \" + $json.message + \"\\n\\n📋 詳細資訊:\\n• Session ID: \" + $json.sessionId + \"\\n• 平台: \" + ($json.context?.platform || 'webchat') + \"\\n• 時間: \" + new Date().toISOString(),\n  \"parse_mode\": \"HTML\"\n}",
                "options": {}
            },
            "id": "d4e5f6a7-b8c9-0123-defa-234567890123",
            "name": "Telegram",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                850,
                300
            ]
        },
        {
            "parameters": {
                "jsCode": "// 繼續執行，無論 Telegram 是否成功\nreturn items;"
            },
            "id": "e5f6a7b8-c9d0-1234-efab-345678901234",
            "name": "Continue",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                1050,
                300
            ]
        }
    ],
    "connections": {
        "Webhook": {
            "main": [
                [
                    {
                        "node": "Extract",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Extract": {
            "main": [
                [
                    {
                        "node": "ImmediateResponse",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "Telegram",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Telegram": {
            "main": [
                [
                    {
                        "node": "Continue",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "settings": {
        "executionOrder": "v1"
    },
    "staticData": null,
    "tags": []
}