n8n/webchat-inbound-workflow.json
{
    "name": "WebChat Inbound Handler",
    "nodes": [
        {
            "id": "webhook-node",
            "name": "WebChat Webhook",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1,
            "position": [
                250,
                300
            ],
            "parameters": {
                "httpMethod": "POST",
                "responseMode": "responseNode",
                "path": "chat-inbound",
                "options": {}
            },
            "webhookId": "chat-inbound"
        },
        {
            "id": "set-format",
            "name": "Format Message Data",
            "type": "n8n-nodes-base.set",
            "typeVersion": 3.4,
            "position": [
                450,
                300
            ],
            "parameters": {
                "mode": "manual",
                "fields": {
                    "values": [
                        {
                            "name": "sessionId",
                            "type": "string",
                            "value": "={{ $json.body.sessionId }}"
                        },
                        {
                            "name": "message",
                            "type": "string",
                            "value": "={{ $json.body.message }}"
                        },
                        {
                            "name": "platform",
                            "type": "string",
                            "value": "={{ $json.body.platform || 'webchat' }}"
                        },
                        {
                            "name": "timestamp",
                            "type": "string",
                            "value": "={{ $now }}"
                        }
                    ]
                }
            }
        },
        {
            "id": "pocketbase-store",
            "name": "Store to PocketBase",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                650,
                200
            ],
            "parameters": {
                "method": "POST",
                "url": "http://pocketbase.zeabur.internal:8090/api/collections/messages/records",
                "sendBody": true,
                "contentType": "json",
                "body": {
                    "session_id": "={{ $json.sessionId }}",
                    "content": "={{ $json.message }}",
                    "role": "user",
                    "platform": "={{ $json.platform }}",
                    "created": "={{ $json.timestamp }}"
                }
            }
        },
        {
            "id": "telegram-send",
            "name": "Send to Telegram Group",
            "type": "n8n-nodes-base.telegram",
            "typeVersion": 1.2,
            "position": [
                650,
                400
            ],
            "parameters": {
                "chatId": "-1003806455231",
                "text": "🌐 WebChat: {{ $json.message }}",
                "additionalFields": {
                    "parse_mode": "HTML"
                }
            },
            "credentials": {
                "telegramApi": {
                    "name": "telegram-bot-credential",
                    "id": ""
                }
            }
        },
        {
            "id": "telegram-mention",
            "name": "Mention @andrea",
            "type": "n8n-nodes-base.telegram",
            "typeVersion": 1.2,
            "position": [
                850,
                400
            ],
            "parameters": {
                "chatId": "-1003806455231",
                "text": "@neovegaandrea_bot 新訊息",
                "additionalFields": {}
            },
            "credentials": {
                "telegramApi": {
                    "name": "telegram-bot-credential",
                    "id": ""
                }
            }
        },
        {
            "id": "respond",
            "name": "Respond to Webhook",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1.1,
            "position": [
                1050,
                300
            ],
            "parameters": {
                "respondWith": "json",
                "responseBody": "={{ { success: true, message: \"Message forwarded to Telegram\" } }}",
                "options": {}
            }
        }
    ],
    "connections": {
        "WebChat Webhook": {
            "main": [
                [
                    {
                        "node": "Format Message Data",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Format Message Data": {
            "main": [
                [
                    {
                        "node": "Store to PocketBase",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "Send to Telegram Group",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Send to Telegram Group": {
            "main": [
                [
                    {
                        "node": "Mention @andrea",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Mention @andrea": {
            "main": [
                [
                    {
                        "node": "Respond to Webhook",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "settings": {
        "executionOrder": "v1"
    },
    "staticData": null,
    "tags": []
}