n8n/webchat-umio-simple-v10.json
{
    "name": "Webchat Umio Simple V10 (No Code Nodes)",
    "nodes": [
        {
            "id": "webhook-v10",
            "name": "Umio Chat Webhook",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1,
            "position": [
                250,
                300
            ],
            "webhookId": "umio-chat-v10",
            "method": "POST",
            "path": "umio-chat-v10",
            "responseMode": "responseNode",
            "options": {}
        },
        {
            "id": "response-v10",
            "name": "Immediate Response",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1,
            "position": [
                450,
                200
            ],
            "options": {
                "respondWith": "json",
                "json": "{\"success\":true,\"message\":\"訊息已發送給 Umio\",\"status\":\"processing\"}"
            }
        },
        {
            "id": "prepare-v10",
            "name": "Prepare Request",
            "type": "n8n-nodes-base.set",
            "typeVersion": 2,
            "position": [
                450,
                400
            ],
            "options": {
                "mode": "manual",
                "fields": {
                    "values": [
                        {
                            "name": "sessionId",
                            "type": "string",
                            "value": "={{ $json.body.sessionId }}"
                        },
                        {
                            "name": "conversationId",
                            "type": "string",
                            "value": "={{ $json.body.conversationId }}"
                        },
                        {
                            "name": "message",
                            "type": "string",
                            "value": "={{ $json.body.message }}"
                        },
                        {
                            "name": "platform",
                            "type": "string",
                            "value": "={{ $json.body.context.platform || 'umio' }}"
                        },
                        {
                            "name": "chat_id",
                            "type": "string",
                            "value": "={{ $json.body.context.chatId || $json.body.sessionId }}"
                        }
                    ]
                }
            }
        },
        {
            "id": "call-openclaw-v10",
            "name": "Call OpenClaw",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                650,
                400
            ],
            "parameters": {
                "method": "POST",
                "url": "https://openclaw.neovega.cc/api/chat",
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={\n  \"message\": \"{{ $json.message }}\",\n  \"sessionId\": \"{{ $json.sessionId }}\",\n  \"platform\": \"{{ $json.platform }}\",\n  \"agentId\": \"umio\"\n}",
                "options": {
                    "timeout": 45000
                }
            }
        },
        {
            "id": "extract-reply-v10",
            "name": "Extract Reply",
            "type": "n8n-nodes-base.set",
            "typeVersion": 2,
            "position": [
                850,
                400
            ],
            "options": {
                "mode": "manual",
                "fields": {
                    "values": [
                        {
                            "name": "sessionId",
                            "type": "string",
                            "value": "={{ $('Prepare Request').first().json.sessionId }}"
                        },
                        {
                            "name": "conversationId",
                            "type": "string",
                            "value": "={{ $('Prepare Request').first().json.conversationId }}"
                        },
                        {
                            "name": "replyText",
                            "type": "string",
                            "value": "={{ $json.text || $json.response || $json.message || '收到您的訊息，我來想想該如何回覆' }}"
                        },
                        {
                            "name": "fullResponse",
                            "type": "object",
                            "value": "={{ $json }}"
                        }
                    ]
                }
            }
        },
        {
            "id": "save-to-pocketbase-v10",
            "name": "Save to PocketBase",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                1050,
                400
            ],
            "parameters": {
                "method": "POST",
                "url": "https://www.neovega.cc/pb/api/collections/messages/records",
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={\n  \"conversation\": \"{{ $('Prepare Request').item.json.conversationId }}\",\n  \"content\": \"{{ $json.response }}\",\n  \"sender\": \"assistant\",\n  \"metadata\": {\n    \"agent\": \"umio\",\n    \"source\": \"openclaw\",\n    \"sessionId\": \"{{ $('Prepare Request').item.json.sessionId }}\"\n  }\n}"
            }
        }
    ],
    "connections": {
        "Umio Chat Webhook": {
            "main": [
                [
                    {
                        "node": "Immediate Response",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Prepare Request",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Prepare Request": {
            "main": [
                [
                    {
                        "node": "Call OpenClaw",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Call OpenClaw": {
            "main": [
                [
                    {
                        "node": "Extract Reply",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Extract Reply": {
            "main": [
                [
                    {
                        "node": "Save to PocketBase",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "settings": {
        "executionOrder": "v1",
        "saveExecutionProgress": false,
        "saveManualExecutions": false,
        "callerPolicy": "workflowsFromSameOwner"
    },
    "staticData": null,
    "tags": []
}