n8n/webchat-umio-simple-v6.json
{
    "name": "WebChat Umio Simple V6",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "responseMode": "responseNode",
                "path": "umio-chat-v6",
                "options": {}
            },
            "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
            "name": "Webhook",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1,
            "position": [
                250,
                300
            ],
            "webhookId": "umio-chat-v6"
        },
        {
            "parameters": {
                "jsCode": "// 統一提取資料，處理多種可能的輸入格式\nconst input = $input.first().json;\n\n// 嘗試多種路徑提取 message\nlet message = null;\nif (input.body?.message) message = input.body.message;\nelse if (input.message) message = input.message;\nelse if (input.body?.body?.message) message = input.body.body.message;\n\n// 嘗試多種路徑提取 sessionId\nlet sessionId = 'unknown-' + Date.now();\nif (input.body?.sessionId) sessionId = input.body.sessionId;\nelse if (input.sessionId) sessionId = input.sessionId;\n\n// 嘗試多種路徑提取 context\nlet context = {};\nif (input.body?.context) context = input.body.context;\nelse if (input.context) context = input.context;\n\nreturn [{\n  json: {\n    message: message,\n    sessionId: sessionId,\n    context: context,\n    hasMessage: message !== null && message !== undefined && message !== ''\n  }\n}];"
            },
            "id": "b2c3d4e5-f6a7-8901-bcde-f12345678901",
            "name": "Extract",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                450,
                300
            ]
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": true,
                        "leftValue": "",
                        "typeValidation": "strict"
                    },
                    "conditions": [
                        {
                            "id": "condition-1",
                            "leftValue": "={{ $json.hasMessage }}",
                            "rightValue": "true",
                            "operator": {
                                "type": "boolean",
                                "operation": "equals",
                                "rightValue": true
                            }
                        }
                    ],
                    "combinator": "and"
                }
            },
            "id": "c3d4e5f6-a7b8-9012-cdef-123456789012",
            "name": "Check",
            "type": "n8n-nodes-base.if",
            "typeVersion": 2,
            "position": [
                650,
                300
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "=https://api.telegram.org/bot8751641141:AAGeQKXV4WvOguP4H5UpUWegVcq2obdzIVw/sendMessage",
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={\n  \"chat_id\": \"-1003806455231\",\n  \"text\": \"👤 WebChat → Umio\\n\\n💬 訊息: \" + $json.message + \"\\n\\n📋 詳細資訊:\\n• Session ID: \" + $json.sessionId + \"\\n• 平台: \" + ($json.context?.platform || 'webchat') + \"\\n• 時間: \" + new Date().toISOString(),\n  \"parse_mode\": \"HTML\"\n}",
                "options": {}
            },
            "id": "d4e5f6a7-b8c9-0123-defa-234567890123",
            "name": "Telegram",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                850,
                200
            ]
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={{ { success: true, message: 'Forwarded to Umio', received: $json.message, sessionId: $json.sessionId } }}"
            },
            "id": "e5f6a7b8-c9d0-1234-efab-345678901234",
            "name": "Success",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1.1,
            "position": [
                1050,
                200
            ]
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={{ { success: false, error: 'No message', debug: { message: $json.message, input: $input.first().json } } }}"
            },
            "id": "f6a7b8c9-d0e1-2345-fabc-456789012345",
            "name": "Error",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1.1,
            "position": [
                850,
                400
            ]
        }
    ],
    "connections": {
        "Webhook": {
            "main": [
                [
                    {
                        "node": "Extract",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Extract": {
            "main": [
                [
                    {
                        "node": "Check",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Check": {
            "main": [
                [
                    {
                        "node": "Telegram",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Error",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Telegram": {
            "main": [
                [
                    {
                        "node": "Success",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "settings": {
        "executionOrder": "v1"
    },
    "staticData": null,
    "tags": []
}