n8n/webchat-to-openclaw-workflow.json
{
    "name": "WebChat to OpenClaw Direct",
    "nodes": [
        {
            "id": "webhook-node",
            "name": "WebChat Webhook",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1,
            "position": [
                250,
                300
            ],
            "parameters": {
                "httpMethod": "POST",
                "responseMode": "responseNode",
                "path": "chat-to-openclaw",
                "options": {}
            },
            "webhookId": "chat-to-openclaw"
        },
        {
            "id": "http-request",
            "name": "Call OpenClaw API",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                450,
                300
            ],
            "parameters": {
                "url": "https://openclaw.neovega.cc/api/chat",
                "method": "POST",
                "sendBody": true,
                "bodyParameters": {
                    "parameters": [
                        {
                            "name": "message",
                            "value": "={{ $json.body.message }}"
                        },
                        {
                            "name": "sessionId",
                            "value": "={{ $json.body.sessionId }}"
                        },
                        {
                            "name": "platform",
                            "value": "webchat"
                        },
                        {
                            "name": "agentId",
                            "value": "andrea"
                        }
                    ]
                },
                "options": {
                    "timeout": 30000
                }
            }
        },
        {
            "id": "respond",
            "name": "Respond to Webhook",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1.1,
            "position": [
                650,
                300
            ],
            "parameters": {
                "respondWith": "json",
                "responseBody": "={{ { success: true, response: $json.response, sessionId: $json.sessionId } }}",
                "options": {}
            }
        }
    ],
    "connections": {
        "WebChat Webhook": {
            "main": [
                [
                    {
                        "node": "Call OpenClaw API",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Call OpenClaw API": {
            "main": [
                [
                    {
                        "node": "Respond to Webhook",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "settings": {
        "executionOrder": "v1"
    }
}