n8n/webchat-inbound-workflow.json
{
    "name": "WebChat Inbound Handler",
    "nodes": [
        {
            "id": "webhook-node",
            "name": "WebChat Webhook",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1,
            "position": [
                250,
                300
            ],
            "parameters": {
                "httpMethod": "POST",
                "responseMode": "responseNode",
                "path": "chat-inbound",
                "options": {}
            },
            "webhookId": "chat-inbound"
        },
        {
            "id": "telegram-send",
            "name": "Send to Telegram Group",
            "type": "n8n-nodes-base.telegram",
            "typeVersion": 1.2,
            "position": [
                450,
                300
            ],
            "parameters": {
                "chatId": "-1003806455231",
                "text": "={{ '?? <b>WebChat ?░У???/b> @neovegaandrea&#95;bot\\n\\n?? ?Дт«╣: ' + $json.body.message + '\\n\\n?? УЕ│у┤░У│ЄУ?:\\n??Session ID: ' + $json.body.sessionId + '\\n??т╣│тЈ░: ' + ($json.body.platform || 'webchat') + '\\n???ѓж?: ' + new Date().toISOString() + '\\n\\n?њг ?ъУ?ТГцУ??»С╗Ц?ъУ?т«бТѕХ' }}",
                "additionalFields": {
                    "parse_mode": "HTML"
                }
            },
            "credentials": {
                "telegramApi": {
                    "name": "telegram-bot-credential",
                    "id": ""
                }
            }
        },
        {
            "id": "respond",
            "name": "Respond to Webhook",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1.1,
            "position": [
                650,
                300
            ],
            "parameters": {
                "respondWith": "json",
                "responseBody": "={{ { success: true, message: 'Message forwarded to Telegram' } }}",
                "options": {}
            }
        }
    ],
    "connections": {
        "WebChat Webhook": {
            "main": [
                [
                    {
                        "node": "Send to Telegram Group",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Send to Telegram Group": {
            "main": [
                [
                    {
                        "node": "Respond to Webhook",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "settings": {
        "executionOrder": "v1"
    },
    "staticData": null,
    "tags": []
}