n8n/webchat-inbound-workflow.json
{
    "name": "WebChat Inbound Handler",
    "nodes": [
        {
            "id": "webhook-node",
            "name": "WebChat Webhook",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1,
            "position": [
                250,
                300
            ],
            "parameters": {
                "httpMethod": "POST",
                "responseMode": "responseNode",
                "path": "chat-inbound",
                "options": {}
            },
            "webhookId": "chat-inbound"
        },
        {
            "id": "set-format",
            "name": "Format Message Data",
            "type": "n8n-nodes-base.set",
            "typeVersion": 3.4,
            "position": [
                450,
                300
            ],
            "parameters": {
                "mode": "manual",
                "fields": {
                    "values": [
                        {
                            "name": "sessionId",
                            "type": "string",
                            "value": "={{ $json.body.sessionId }}"
                        },
                        {
                            "name": "message",
                            "type": "string",
                            "value": "={{ $json.body.message }}"
                        },
                        {
                            "name": "platform",
                            "type": "string",
                            "value": "={{ $json.body.platform || 'web' }}"
                        },
                        {
                            "name": "timestamp",
                            "type": "string",
                            "value": "={{ $now }}"
                        }
                    ]
                }
            }
        },
        {
            "id": "telegram-send",
            "name": "Send to Telegram Group",
            "type": "n8n-nodes-base.telegram",
            "typeVersion": 1.2,
            "position": [
                650,
                400
            ],
            "parameters": {
                "chatId": "-1003806455231",
                "text": "🌐 <b>WebChat 新訊息</b>\n\n📝 內容: {{ $node['Format Message Data'].json.message }}\n\n📋 詳細資訊:\n• Session ID: {{ $node['Format Message Data'].json.sessionId }}\n• 平台: {{ $node['Format Message Data'].json.platform }}\n• 時間: {{ $node['Format Message Data'].json.timestamp }}\n\n💬 回覆此訊息以回覆客戶",
                "additionalFields": {
                    "parse_mode": "HTML"
                }
            },
            "credentials": {
                "telegramApi": {
                    "name": "telegram-bot-credential",
                    "id": ""
                }
            }
        },
        {
            "id": "telegram-mention",
            "name": "Mention @andrea",
            "type": "n8n-nodes-base.telegram",
            "typeVersion": 1.2,
            "position": [
                850,
                400
            ],
            "parameters": {
                "chatId": "-1003806455231",
                "text": "@neovegaandrea&#95;bot 新訊息",
                "additionalFields": {
                    "parse_mode": "HTML"
                }
            },
            "credentials": {
                "telegramApi": {
                    "name": "telegram-bot-credential",
                    "id": ""
                }
            }
        },
        {
            "id": "respond",
            "name": "Respond to Webhook",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1.1,
            "position": [
                1050,
                350
            ],
            "parameters": {
                "respondWith": "json",
                "responseBody": "={{ { success: true, message: 'Message forwarded to Telegram' } }}",
                "options": {}
            }
        }
    ],
    "connections": {
        "WebChat Webhook": {
            "main": [
                [
                    {
                        "node": "Format Message Data",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Format Message Data": {
            "main": [
                [
                    {
                        "node": "Send to Telegram Group",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Send to Telegram Group": {
            "main": [
                [
                    {
                        "node": "Mention @andrea",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Mention @andrea": {
            "main": [
                [
                    {
                        "node": "Respond to Webhook",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "settings": {
        "executionOrder": "v1"
    },
    "staticData": null,
    "tags": []
}