n8n/webchat-umio-simple-v2.json
{
    "name": "WebChat Umio Simple V2",
    "nodes": [
        {
            "id": "webhook-node",
            "name": "WebChat Webhook",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1,
            "position": [
                250,
                300
            ],
            "parameters": {
                "httpMethod": "POST",
                "responseMode": "responseNode",
                "path": "umio-chat",
                "options": {}
            },
            "webhookId": "umio-chat"
        },
        {
            "id": "send-telegram",
            "name": "Send to Telegram",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                450,
                300
            ],
            "parameters": {
                "method": "POST",
                "url": "https://api.telegram.org/bot8751641141:AAGeQKXV4WvOguP4H5UpUWegVcq2obdzIVw/sendMessage",
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={\n  \"chat_id\": \"-1003806455231\",\n  \"text\": \"👤 WebChat → Umio\\n\\n💬 訊息: {{ $json.body.message }}\\n\\n📋 詳細資訊:\\n• Session ID: {{ $json.body.sessionId }}\\n• 平台: {{ $json.body.context?.platform || 'webchat' }}\\n• 時間: {{ new Date().toISOString() }}\",\n  \"parse_mode\": \"HTML\"\n}",
                "options": {
                    "timeout": 30000
                }
            }
        },
        {
            "id": "respond",
            "name": "Respond to Webhook",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1.1,
            "position": [
                650,
                300
            ],
            "parameters": {
                "respondWith": "json",
                "responseBody": "={{ { success: true, message: 'Message forwarded to Umio' } }}"
            }
        }
    ],
    "connections": {
        "WebChat Webhook": {
            "main": [
                [
                    {
                        "node": "Send to Telegram",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Send to Telegram": {
            "main": [
                [
                    {
                        "node": "Respond to Webhook",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "settings": {
        "executionOrder": "v1"
    },
    "staticData": null,
    "tags": []
}