n8n/webchat-batch-notification-simple.json
{
    "name": "Webchat Batch Notification (Simple)",
    "nodes": [
        {
            "parameters": {
                "rule": {
                    "interval": [
                        {
                            "field": "minutes",
                            "minutesInterval": 5
                        }
                    ]
                }
            },
            "id": "cron-trigger",
            "name": "Every 5 Minutes",
            "type": "n8n-nodes-base.scheduleTrigger",
            "typeVersion": 1.1,
            "position": [
                250,
                300
            ]
        },
        {
            "parameters": {
                "url": "https://www.neovega.cc/pb/api/collections/messages/records",
                "sendQuery": true,
                "queryParameters": {
                    "parameters": [
                        {
                            "name": "filter",
                            "value": "sent_to_telegram=false"
                        },
                        {
                            "name": "sort",
                            "value": "-created"
                        },
                        {
                            "name": "perPage",
                            "value": "50"
                        }
                    ]
                },
                "options": {}
            },
            "id": "query-messages",
            "name": "Query New Messages",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                450,
                300
            ]
        },
        {
            "parameters": {
                "conditions": {
                    "number": [
                        {
                            "value1": "={{$json.items.length}}",
                            "operation": "larger",
                            "value2": 0
                        }
                    ]
                }
            },
            "id": "check-messages",
            "name": "Has New Messages?",
            "type": "n8n-nodes-base.if",
            "typeVersion": 1,
            "position": [
                650,
                300
            ]
        },
        {
            "parameters": {
                "functionCode": "const inputData = items;\nif (!inputData || inputData.length === 0 || !inputData[0].json || !inputData[0].json.items) {\n  return [];\n}\n\nconst messages = inputData[0].json.items;\nif (messages.length === 0) {\n  return [];\n}\n\nlet text = '@neovegaandrea_bot, @neovegalele_bot, @neovegalinus_bot, @neovegalittleq_bot\\n\\n';\ntext += '新的 Webchat 訊息\\n\\n';\n\nmessages.forEach((msg, index) => {\n  const icon = msg.sender === 'user' ? '👤' : '🤖';\n  text += `${index + 1}. ${icon} ${msg.content}\\n`;\n});\n\nreturn [{\n  json: {\n    text: text,\n    messageIds: messages.map(m => m.id)\n  }\n}];"
            },
            "id": "format-message",
            "name": "Format Message",
            "type": "n8n-nodes-base.function",
            "typeVersion": 1,
            "position": [
                850,
                200
            ]
        },
        {
            "parameters": {
                "chatId": "-1003806455231",
                "text": "={{ $json.text }}",
                "additionalFields": {}
            },
            "id": "send-telegram",
            "name": "Send to Telegram",
            "type": "n8n-nodes-base.telegram",
            "typeVersion": 1.2,
            "position": [
                1050,
                200
            ],
            "credentials": {
                "telegramApi": {
                    "id": "umio",
                    "name": "Umio Telegram account"
                }
            }
        },
        {
            "parameters": {
                "functionCode": "const inputData = items;\nif (!inputData || inputData.length === 0 || !inputData[0].json || !inputData[0].json.messageIds) {\n  return [];\n}\n\nconst messageIds = inputData[0].json.messageIds;\nif (!Array.isArray(messageIds) || messageIds.length === 0) {\n  return [];\n}\n\nconst pbUrl = 'https://www.neovega.cc/pb';\nconst updates = [];\n\nfor (const id of messageIds) {\n  try {\n    const response = await this.helpers.httpRequest({\n      method: 'PATCH',\n      url: `${pbUrl}/api/collections/messages/records/${id}`,\n      headers: {\n        'Content-Type': 'application/json'\n      },\n      body: {\n        sent_to_telegram: true,\n        sent_at: new Date().toISOString()\n      },\n      json: true\n    });\n    updates.push(response);\n  } catch (error) {\n    console.error(`Failed to update message ${id}:`, error);\n  }\n}\n\nreturn [{\n  json: {\n    updated: updates.length,\n    ids: messageIds\n  }\n}];"
            },
            "id": "update-messages",
            "name": "Mark as Sent",
            "type": "n8n-nodes-base.function",
            "typeVersion": 1,
            "position": [
                1250,
                200
            ]
        }
    ],
    "connections": {
        "Every 5 Minutes": {
            "main": [
                [
                    {
                        "node": "Query New Messages",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Query New Messages": {
            "main": [
                [
                    {
                        "node": "Has New Messages?",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Has New Messages?": {
            "main": [
                [
                    {
                        "node": "Format Message",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Format Message": {
            "main": [
                [
                    {
                        "node": "Send to Telegram",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Send to Telegram": {
            "main": [
                [
                    {
                        "node": "Mark as Sent",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "pinData": {}
}