n8n/webhook-bridge-response-workflow.json
{
    "name": "Webhook Bridge Response Handler",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "bridge-response",
                "responseMode": "responseNode",
                "options": {}
            },
            "id": "webhook-node",
            "name": "Webhook",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 2,
            "position": [
                250,
                300
            ],
            "webhookId": "bridge-response"
        },
        {
            "parameters": {
                "url": "=https://webhook-bridge.neovega.cc/webhook/response",
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={{ { \"chat_id\": $json.chat_id, \"message_id\": $json.message_id, \"text\": $json.response_text, \"source_bot\": $json.source_bot } }}",
                "options": {}
            },
            "id": "send-to-bridge",
            "name": "Send to Bridge",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                450,
                300
            ]
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={{ { \"success\": true, \"sent_via\": \"webhook-bridge\" } }}"
            },
            "id": "respond-to-webhook",
            "name": "Respond to Webhook",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1.1,
            "position": [
                650,
                300
            ]
        }
    ],
    "connections": {
        "Webhook": {
            "main": [
                [
                    {
                        "node": "Send to Bridge",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Send to Bridge": {
            "main": [
                [
                    {
                        "node": "Respond to Webhook",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "pinData": {},
    "settings": {
        "executionOrder": "v1"
    },
    "staticData": null,
    "tags": [],
    "triggerCount": 0,
    "updatedAt": "2026-03-15T12:44:00.000Z",
    "versionId": "1"
}